* {
    margin: 0;
    padding: 0
}

html,body {
    font-family: ubuntu,sans-serif
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 1em;
    margin-bottom: .3em;
    color: #111
}

p {
    color: #111;
    font-size: .9em;
    margin: 1em 0;
    line-height: 1.4
}

h1+p,h2+p,h3+p,h4+p,h5+p,h6+p {
    margin-top: .3em
}

a {
    color: #666;
    text-decoration: none
}

.page-header {
	display: flex;
	align-items: center;
	width: 1100px;
	margin: 0 auto;
	margin-top: 30px;
}

.page-title {
	margin-top: 0;
	flex-grow: 1;
}

.global-search {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 6px 10px;
	font-size: 0.9rem;
	color: #444;
	display: none;
}

.no-results {
	width: 800px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 20px;
	background: #f5f5f5;
}

.page-footer {
	text-align: center;
	width: 1200px;
	margin: 15px auto;
	color: #444;
	font-size: 0.95rem;
}

.applications {
	list-style-type: none;
	width: 1200px;
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
}

.application {
	width: calc(50% - 20px);
	height: 100px;
	padding: 0 10px;
	display: flex;
	align-items: center;
}

.application:hover {
	background: #f5f5f5;
}

.application-link:hover {
	text-decoration: none;
}

.application-icon {
	width: 64px;
	height: 64px;
	margin-right: 10px;
}
